.sky-icon {
  --sky-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--sky-icon-color);
  font-size: inherit;
}

@each $val in primary,info,success,warning,danger {
  .sky-icon--$(val) {
    --sky-icon-color: var(--sky-color-$(val));
  }
}